.carousel-container {
    position: relative;
    width: 80%;
    height: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }
  
  .carousel-images {
    width: 100%;
    height: auto;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  